
.icon-googleplay:before { content: '\e800'; } /* '' */
.icon-upload-cloud:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */